<div id="about" class="pb-5 bg-white"></div>
<section class="py-8 bg-white anchor">
	<div class="container px-2 pt-4 pb-12 mx-auto text-gray-800 anchor">
		<h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">About</h1>
		<div class="w-full mb-4">
			<div class="w-64 h-1 py-0 mx-auto my-0 rounded-t opacity-25 bg-gray-800"></div>
		</div>
		<div class="z-10 flex flex-col justify-center w-full mx-auto mt-4 bg-white rounded-lg shadow-lg lg:2/3 lg:mx-0 sm:-mt-6">
			<div class="flex-1 overflow-hidden bg-white rounded-t rounded-b-none shadow">
				<div class="w-full p-8 text-lg">
					<p>			Hello, my name is Bryan. I am a full-stack web developer based out of Orlando, FL. You can find my resume on the blog section of my website so I'm going to keep this focused
						what my resume does not say about me. I have a deep love for the arts and have a strong background in music. I spent most of my life as a professional musician. I had the pleasure
						to spend most of my time touring, gigging, and performing across the State of Florida and a few other States. My experience as a musician required me to become resourceful. During
						my years in music I learned my way around Photoshop, Lightroom, Premiere, gained experience in photography and videography, and relevant musical software (DAWs, VST, and Plug-ins). I also
						learned my way around setting up sound systems and live mixing, and developed as a public speaker and performer. <br /><br />These skills eventually became vital in my success as
						a private school principal. My position with TDR Academy not only solidified these skills, it also allowed me grow in more areas such as: management, leadership, marketing, finance, and taught countless principles on a personal level that have helped me succeed in my endeavors.
						It is my firm belief that it is my time to move on to new opportunities and allow others to absolve the opportunity that I have had within the school. In anticipation of pursuing new opportunities, I decided to re-enroll in College and
						finish my degree in Computer Science. It is my desire to continue to grow and be an asset wherever I serve.<br /><br />If you have read this far, I appreciate your consideration and your interest in learning some of my story. Thank you for visiting my site and have a great day!

				</div>
				<div class="w-full h-1 py-0 my-0 rounded-t bg-gray-800"></div>
			</div>
			<div class="flex-none p-6 mt-auto overflow-hidden bg-white rounded-t-none rounded-b shadow">
				<div class="w-full pt-6 text-lg font-bold text-center">
	
					<div class="flex items-center justify-center">
					<%= mail_to "codearenas@gmail.com", class: "mx-auto lg:mx-0 hover:underline bg-gray-800 hover:bg-black text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg" do %>
					Contact
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>