<h1>Editing Post</h1>

<%= render 'form', post: @post %>
<div class="flex flex-row justify-between mb-10">
<%= link_to 'Show', @post, class: "mx-4 outline button" %> | <%= link_to 'Back', posts_path, class: "mx-4 outline" %>
</div>
